<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{{title}}</title>

  {{#description}}<meta name="description" content="{{description}}" />{{/description}}
  {{#author}}<meta name="author" content="{{author}}" />{{/author}}

  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
    <div id="impress" data-perspective="0">

        <svg id="map-step" class="step svg-map show-always" fill="#ABDDA4" data-scale="1" style="will-change: transform">
            <g class="map" id="map"></g>
        </svg>
        <!-- <canvas style="width: 100vw;
        height: 100vh;
        opacity: 1; transform: initial !important" class="step show-always"></canvas> -->

        {{#images}}
        <figure id="{{fileId}}" class="step photo-view" data-scale="0.0025" data-lat="{{lat}}" data-long="{{long}}" 
            onclick='toggleZoom(event)' onmousemove='zoom(event)' onwheel='magnify(event)'>
            <img class="rotate_{{rotation}}{{#mirrored}} mirror_{{mirrored}}{{/mirrored}}" data-src="{{{filepath}}}">
            {{#title}}<figcaption>{{title}}</figcaption>{{/title}}
            {{#description}}<div class="description">{{description}}</div>{{/description}}
        </figure>
        {{/images}}
    </div>
</body>
<script src="scripts/vendor.js"></script>
<script src="assets/maps/countries-coastline-2km5.geo.js"></script>
<script src="assets/route.js"></script>
<script src="scripts/map-projection.js"></script>
<script src="scripts/init-impress.js"></script>
<script src="scripts/rerender-svg-hack.js"></script>
<script src="scripts/zoom.js"></script>
<!-- <script type="text/javascript" src="https://unpkg.com/canvg@3.0.4/lib/umd.js"></script>
<script type="text/javascript">
    // window.onload = () => {
    
        const canvas = document.querySelector('canvas');
        const svg = document.querySelector("#map-step")

        svg.addEventListener("load",function() {
            console.log("svg loaded")
            const svgDoc = svg;
            
            console.log(canvas)
            console.log(svgDoc)
            const ctx = canvas.getContext('2d');
        
            v = canvg.Canvg.fromString(ctx, svgDoc.outerHTML, {scaleWidth: 18200, offsetX: -135, offsetY: -330});
            v.resize(window.innerWidth * 6, window.innerHeight * 6, "xMidYMid meet");
        
            // Start SVG rendering with animations and mouse handling.
            v.ready().then(() => console.log("READY")).catch(e => console.log(e))
            v.render();

        }, false);
    
    // };
    </script> -->
<script src="scripts/transport-animation.js"></script>
</html>