/* 
Base element styles
*/

@font-face {
    font-family: "Traveling _Typewriter";
    src: url(../assets/fonts/TravelingTypewriter/TravelingTypewriter.ttf) format("truetype");
}

html,body {
    height: 100%;
    overflow: hidden;
}

html,body,.impress {
    background-color: #1D4DAD;
}

figure {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

img {
    max-width: 90vw;
    max-height: 90vh;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Image rotation and mirroring for all cases defined by the Exif Orientation flag. */

/* img.rotate_90 {
    transform: scale(0.7) rotate(90deg);
}

img.rotate_180 {
    transform: rotate(180deg);
}

img.rotate_270 {
    transform: scale(0.7) rotate(270deg);
}

img.mirror_horizontal {
    transform: scaleX(-1);
}

img.mirror_vertical {
    transform: scaleY(-1);
}

img.rotate_90.mirror_horizontal {
    transform: scale(0.7) scaleX(-1) rotate(90deg);
}

img.rotate_270.mirror_horizontal {
    transform: scale(0.7) scaleX(-1) rotate(270deg);
} */

/* 
Map styles
*/

.svg-map {
    width: 100vw;
    height: 100vh;
    opacity: 1;
}

.svg-map .map path {
    vector-effect: non-scaling-stroke;
    fill: rgb(171, 221, 164);
    stroke-opacity: 1;
    stroke: rgb(34, 34, 34);
}

.svg-map .map path.visited {
    fill: rgb(171, 221, 164);
}

.svg-map .map path.rest {
    fill: rgb(121, 171, 114);
}

.svg-map .map text {
    opacity: 0.5;
}

.impress-on-sao-miguel .svg-map .map text,
.impress-on-flores .svg-map .map text,
.impress-on-faial .svg-map .map text,
.impress-on-pico .svg-map .map text {
    opacity: 1;
}

/* 
Impress/step styles
*/

.step {
    position: relative;
    padding: 0px;
    margin: 0px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Traveling _Typewriter', Arial, sans-serif;
    font-size: 72px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

.impress-enabled .step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

/* Initially hide all slides */
.impress-enabled .step:not(.show-always) { 
    visibility: hidden;
    opacity: 0;
}

/* show previous and next location slides with half opacity to visually guide the movement */
.impress-enabled .step.future.next-location:not(.show-always),
.impress-enabled .step.past.previous-location:not(.show-always) {
    visibility: visible;
    opacity: 0.5;
}

/* Show active/present slides with full opacity */
.impress-enabled .step.active,
.impress-enabled .step.present { 
    visibility: visible;
    opacity: 1;
}

/* Hide all figcaptions in steps */
.impress-enabled .step figcaption,
.impress-enabled .step .description {
    opacity: 0;
    transition:         opacity 1s;
}

/* Show all figcaptions in steps when the image is loaded and the step is active */
.impress-enabled .step.present img[src] ~ figcaption,
.impress-enabled .step.present:not(.zoom) img[src]:hover ~ .description {
    opacity: 1;
}

.photo-view figcaption {
    font-size: 0.7em;
}

.photo-view figcaption.inside {
    position: absolute;
    width: 100%;
    margin: auto 0;
    top: calc(50% - 0.7em);
}

.photo-view figcaption.inside.bottom {
    top: calc(90% - 0.7em);
}

.photo-view figcaption.inside.top {
    top: calc(10% - 0.7em);
}

.photo-view figcaption.inside.bottom {
    top: calc(90% - 0.7em);
}

.photo-view figcaption.inside.top {
    top: calc(10% - 0.7em);
}

.photo-view figcaption.corner.left.top {
    position: absolute;
    top: 0;
    text-align: center;
    max-width: 30%;
    transform: rotate(-30deg) translate(-12.5%, -25%);
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.photo-view figcaption.corner.right.top {
    position: absolute;
    top: 0;
    left: 100%;
    text-align: center;
    max-width: 30%;
    transform: rotate(30deg) translate(-75%, 25%);
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.photo-view .description {
    /* Align centered over image */
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: -10%; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: fit-content;

    background: rgba(0,0,0,0.5);
    
    /* Smaller font and output whitespace as given */
    padding: 1em;
    font-size: 0.4em;
    white-space: pre-wrap;
    text-align: center;

    /* Avoid catching hover, so the event is catched by the image as used above */
    pointer-events:none;
}

.photo-view.zoom {
    cursor: zoom-in;
}

.photo-view.zoom .zoom-view {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-position: 50% 50%;
    background-size: 200%;
}

figure.zoom img:hover {
    opacity: 0;
}

figure.zoom img {
    transition: opacity .5s;
}